---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      a {
        text-decoration: none;
      }
      main {
        /* margin-top: 10em; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      li {
        list-style: none;
        margin: 0.2em 0;
      }
      .posts-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
      }
      h1 {
        margin-bottom: 0.5em;
      }
      p {
        font-size: 0.85em;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="posts-title">
          <h1>Contributing to Free and Open Source software</h1>
          <p>A blog for the course MAC5856 - Free and Open Source Development</p>
        </div>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/mac5856/${post.id}/`}>
                  <FormattedDate date={post.data.pubDate} /> - {post.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
